body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar */

.nav-bar{
    background-color: rgb(64, 70, 64);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    .nav-cart{
        display: flex;
        align-items: center;
        .nav-count{
            color: black;
            font-size: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            width: 25px;
            background-color: white;
            border-radius: 50%;
            margin-left: 5px;
        }
    }
    h2{
        font-size: 35px;
        color: white;
    }
    svg{
        font-size: 1.5em;
        color: white;
    }
    a{
        text-decoration: none;
        color: white;
    }
}

/* Page Not Found */

.not-found-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    h2{
        font-size: 5em;
    }
    p{
        font-size: 2em;
    }
}

/* Home */

.home-container{
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    .products{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 2rem;
        .product{
            width: 250px;
            max-width: 100%;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 1rem auto;
            padding: 1rem;
            border: 1px solid black;
            border-radius: 10px;
            .details{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .price{
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            img{
                width: 100%;
                margin-top: 1rem;
                margin-left: auto;
                margin-right: auto;
            }
            h3{
                font-size: 25px;
                font-weight: 400;
            }
            button{
                border-radius: 5px;
                width: 100%;
                height: 40px;
                font-weight: 400;
                margin-top: 2rem;
                border: 1px solid grey;
                outline: none;
                cursor: pointer;
                background: rgb(64, 70, 64);
                color: white;
                letter-spacing: 1px;
            }
        }
    }
    h2{
        font-size: 40px;
        font-weight: 400;
        text-align: center;
    }
}

/* Cart */

.cart-container{
    padding: 2rem 4rem;
    .cart-empty{
        font-size: 25px;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .back-to-shop{
            margin: 1rem;
            font-size: 20px;
            a{
                text-decoration: none;
                display: flex;
                align-items: center;
                span{
                    margin-left: .5rem;
                }
            }
        }
    }
    .names{
        margin: 2rem 0 1rem 0;
        .product-name{
            padding-left: .5rem;
        }
        .total-price{
            padding-right: .5rem;
            justify-self: right;
        }
        h3{
            font-weight: 400;
            font-size: 25px;
        }
    }
    .cart-item, .cart-container, .names{
        display: grid;
        align-items: center;
        grid-template-columns: 3fr 1fr 1fr 1fr;
        column-gap: .5rem;
    }
    .cart-items{
        .cart-item{
            border-top: 1px solid black;
            padding: 1rem 0;
            .cart-total-price{
                font-size: 18px;
                font-weight: 700;
                justify-self: right;
                padding-right: .5rem;
            }
            .cart-product-price{
                font-size: 18px;
            }
            .cart-product-quant{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                width: 130px;
                max-width: 100%;
                border: .5px solid black;
                border-radius: 5px;
                font-size: 18px;
                .cart-count{
                    padding: .7rem 0;
                }
                button{
                    border: none;
                    outline: none;
                    background: none;
                    padding: .7rem 1.5rem;
                    cursor: pointer;
                    font-size: 20px;
                }
            }
            .cart-product{
                display: flex;
                font-size: 20px;
                .card-product-details{
                    button{
                        border: none;
                        outline: none;
                        cursor: pointer;
                        margin-top: .7rem;
                        border-radius: 5px;
                        background: rgb(64, 70, 64);
                        color: white;
                        padding: .5rem .5rem;
                        font-size: 15px;
                    }
                }
                img{
                    width: 200px;
                    max-width: 100%;
                    margin-right: 1rem;
                }
                h3{
                    font-weight: 400;
                    font-size: 25px;
                }
            } 
        }
    }   
    .cart-summary{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-top: 1px solid black;
        padding-top: 2rem;
        .cart-right{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: auto;
            .cart-checkout{
                width: 270px;
                max-width: 100%;
                font-size: 18px;
                .cart-total-prices{
                    display: flex;
                    justify-content: space-between;
                    font-size: 20px;
                    .cart-subtotal{
                        font-weight: 700;
                    }
                }
            }
            .checkout{
                border-radius: 5px;
                width: 100%;
                height: 40px;
                font-weight: 400;
                margin-top: 1rem;
                border: 1px solid grey;
                outline: none;
                cursor: pointer;
                background: rgb(64, 70, 64);
                color: white;
                letter-spacing: 1px;
                font-size: 18px;
            }
            .continue-shop{
                margin: 1rem;
                font-size: 20px;
                a{
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    span{
                        margin-left: .5rem;
                    }
                }
            }
        }
        .clear-cart{
            width: 130px;
            max-width: 100%;
            height: 40px;
            border-radius: 5px;
            background: rgb(64, 70, 64);
            color: white;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 15px;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
    h2{
        font-weight: 400;
        font-size: 40px;
        text-align: center;
    }
}

